@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-name-font: "Bangers", cursive;
  --app-body-font: "Poppins", sans-serif;

  /* === COLOR variables === */
  --black: #000000;
  --white: #ffffff;
  --grey: #444444;
  --rubber-red: #d03d70;
  --rubber-red-light: #ff579e;
  --rubber-red-dark: #9c0045;
  --keppel-green: rgb(50, 191, 170);
  --keppel-green-light: #6ff2dc;
  --keppel-green-dark: #008e7b;
  --lt-yellow: #fffde1;

  --homepage-gradient: linear-gradient(
    180deg,
    hsla(325, 71%, 57%, 1) 0%,
    hsla(339, 61%, 53%, 0) 100%
  );
  --searchpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--keppel-green-light)
  );
  --editpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--white)
  );
  --addpage-gradient: linear-gradient(
    180deg,
    var(--rubber-red-light),
    var(--rubber-red-light)
  );
}

body {
  font-family: var(--app-body-font);
}

h1 {
  font-family: var(--app-name-font);
  color: #6ff2dc;
}

/* == HEADER == */

/* == MAIN == */

/* == SEARCH == */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
  overflow-y: scroll;
  height: 80vh;
  background: var(--searchpage-gradient);
}

.searchWrapper {
  position: sticky;
  top: 0%;
  background: var(--keppel-green-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 60%;
  padding: 0.8vh;
  padding-left: 3vw;
  border-radius: 20px;
  margin: 1vh;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.smallMoveCard {
  margin: 2vh;
  border-bottom: var(--keppel-green-dark) solid 1px;
  padding-bottom: 0.5vh;
  box-shadow: var(--keppel-green) 0px 2px 0px 0px;
  border-radius: 2px;
  text-align: center;
}

.smallMoveCard p {
  text-shadow: var(--keppel-green) 3px 3px;
}

.smallMoveCard:hover {
  cursor: pointer;
  box-shadow: var(--keppel-green) 0px 6px 0px 0px;
}

/* == DANCEMOVE SINGLE == */

/* == EDIT MOVE == */

/* == NEW MOVE == */

/* == FOOTER == */

/* Don't touch this temp clases. They will be removed later! */
.tepmSectionH1 {
  background: white;
  color: black;
  font-family: sans-serif;
  margin: 40px auto;
  display: block;
  width: 375px;
}
.tempContainer {
  width: 375px;
  height: 812px;
  background: linear-gradient(#d03d70, #d2c0c6);
  margin: 0px auto;
}
