@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-name-font: "Bangers", cursive;
  --app-body-font: "Poppins", sans-serif;

  /* === COLOR variables === */
  --shadow: #977f8b;
  --shadow-dark: #7e3957;
  --black: #000000;
  --white: #ffffff;
  --grey: #444444;
  --rubber-red: #d03d70;
  --rubber-red-light: #ff579e;
  --rubber-red-dark: #9c0045;
  --keppel-green: rgb(50, 191, 170);
  --keppel-green-light: #6ff2dc;
  --keppel-green-dark: #008e7b;

  --homepage-gradient: linear-gradient(
    180deg,
    hsla(325, 71%, 57%, 1) 0%,
    hsla(339, 61%, 53%, 0) 100%
  );
  --searchpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--keppel-green-light)
  );
  --editpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--white)
  );
  --addpage-gradient: linear-gradient(
    180deg,
    var(--rubber-red-light),
    var(--rubber-red-light)
  );
}

body {
  font-family: var(--app-body-font);
}

.app {
  margin: 0px auto;
}

/* == LOGIN == */

#main-submit {
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  width: 100%;
  margin: 1rem;
  box-shadow: var(--shadow) 0px 5px 3px;
  border: 0.5px var(--rubber-red-light) solid;
}

/* == MAIN == */
.main-area {
  background: var(--homepage-gradient);
  padding-top: 5.5em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15vh;
}

.main-area-front {
  background: var(--homepage-gradient);
  padding-top: 5.5em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vh;
}

h1 {
  font-family: var(--app-name-font);
  color: #6ff2dc;
  font-size: 120px;
  letter-spacing: 2px;
  font-weight: normal;
}
.main-area h1 {
  position: relative;
  left: -30%;
}

.main-area-front h1 {
  position: relative;
  left: -30%;
}

.ce {
  position: absolute;
  transform: rotate(335deg) translate(-2px, 2px);
  font-style: normal;
}
.ves {
  position: absolute;
  transform: translate(-5px, 24px);
  font-style: normal;
}

.logo {
  transform: scale(0.7);
}

label {
  font-size: 18px;
  color: var(--grey);
  display: block;
  text-align: center;
}

#main-submit {
  background-color: var(--rubber-red-dark);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
  width: 7.4rem;
  height: 2.5rem;
}
#main-submit:hover {
  background-color: var(--white);
  color: var(--rubber-red-dark);
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  width: 237px;
  height: 37px;
  font: var(--app-body-font);
  font-size: 16px;
  padding: 0.8vh;
  margin: 1vh 0 1vh 0;
  border-radius: 3px;
  border: solid 0.5px var(--grey);
}

.login input:focus {
  outline: 2px solid var(--keppel-green-light);
}

/* == SEARCH == */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  background: var(--searchpage-gradient);
  position: relative;
  padding-bottom: 15vh;
}

.searchWrapper {
  position: sticky;
  top: 0%;
  background: var(--keppel-green-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 1vh;
  margin-bottom: 8vh;
}

.search input {
  width: 70%;
  padding: 0.8vh;
  padding-left: 3vw;
  border-radius: 20px;
  margin: 2vh 6vh 2vh 0;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.search input:focus {
  outline: 2px solid var(--rubber-red-light);
}

.ListItem {
  /* display: flex;
  flex-direction: row;
  
  align-items: center; */
  width: 380px;
  padding: 10px;
  /* height: 200px; */
  margin: 8px;
  /* border-bottom: var(--keppel-green-dark) solid 1px; */
  /* padding-bottom: 0.5vh; */
  /* box-shadow: var(--keppel-green) 0px 2px 0px 0px; */
  /* border-radius: 2px; */
  text-align: center;
  border: hidden;
  border-radius: 18px;
  /*   padding: 5px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ListItem:hover {
  cursor: pointer;
  box-shadow: var(--keppel-green) 0px 6px 0px 0px;
}
.insta {
  font-size: 1.5em;
  color: black;
  position: absolute;
  right: 35px;
}

span {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* == DANCEMOVE  == */
.DanceMove {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: var(--homepage-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;

  padding-top: 15vh;
}

.squre-pen {
  color: white;
  font-size: 36px;
}

.squre-pen-wrapper {
  position: relative;
  margin-left: 350px;
  margin-top: 30px;
}

#header {
  background-color: var(--rubber-red-dark);
  height: 3vh;
  width: 100%;
}

.DanceMove h3,
.DanceMove p {
  margin-top: 0.5vh;
  padding: 1vh;
}

.DanceMove h3 {
  font-family: var(--app-name-font);
  color: var(--keppel-green-light);
  font-size: 2rem;
}

#notesAndIGWrapper {
  margin-top: 5vh;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-style: italic;
}

#IG {
  overflow-x: scroll;
  margin-bottom: 2vh;
  margin-top: 4vh;
  height: 70vh;
  color: var(--black);
}

/* == EDIT MOVE == */
.editmove {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--keppel-green) 0%,
    var(--white) 100%
  );
}

.editmove_header {
  font-family: var(--app-name-font);
  background: var(--keppel-green-light);
  padding: 3rem 2rem 2rem 2rem;
  font-size: 3rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  color: var(--grey);
  text-align: center;
}

.editmove_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.edit_move_input {
  border-radius: 3px;
  width: 80%;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.edit_move_input:focus {
  outline: 2px solid var(--rubber-red-light);
}

.saveChangesButton {
  background-color: var(--keppel-green-light);
  width: 150px;
  height: 3rem;
  margin: 1rem;
  border: solid 0.5px var(--grey);
  border-radius: 3px;
  font-family: var(--app-body-font);
  font-size: 16px;
  cursor: pointer;
  padding: 0.8vh;
  box-shadow: var(--shadow) 0px 5px 3px;
}

/* == NEW MOVE == */

.addmove {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--rubber-red-light) 0%,
    var(--rubber-red-dark) 100%
  );
}

.addMoveHeader {
  font-family: var(--app-name-font);
  font-size: 3rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  color: var(--white);
  background-color: var(--rubber-red-dark);
  text-align: center;
  padding: 3rem 2rem 2rem 2rem;
}

.addMoveForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.addMoveForm input {
  border-radius: 3px;
  width: 80%;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.addMoveForm input:focus {
  outline: 2px solid var(--keppel-green-light);
}

.savebutton {
  text-transform: uppercase;
  background-color: var(--keppel-green-light);
  width: 150px;
  height: 3rem;
  margin: 1rem;
  border: solid 0.5px var(--grey);
  border-radius: 3px;
  font-family: var(--app-body-font);
  font-size: 18px;
  cursor: pointer;
  padding: 0.8vh;
  box-shadow: var(--shadow-dark) 0px 5px 3px;
}

/* == FOOTER == */

.footerwrapper {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footericon {
  color: var(--grey);
  font-size: 36px;
}

/* == MENU == */

.menu {
  background-color: #fff;
}

.menu-icon {
  position: fixed;
  top: 23px;
  left: 15px;
  z-index: 10;
  width: 180px;
  height: auto;
}

.dots-vertical {
  transform: rotate(90deg);
}

.hide {
  display: none;
}

.icons-wrapper {
  padding: 10px;
}

p {
  display: inline-block;
  margin-left: 10px;
}

.individual-icon {
  margin-left: 5px;
  cursor: pointer;
}

.individual-icon,
p {
  cursor: pointer;
}

.icon_and_name_wrapper {
  padding: 10px;
  color: var(--grey);
}

/* == SAVED SUCCESSFULLY == */
.overlay-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: 99;
}

.saved_overlay {
  position: fixed;
  top: 60vh;
  left: 50;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--keppel-green-light);
  padding-bottom: 2rem;
  box-shadow: 0 0 15px var(--grey);
}

.saved_overlay p {
  font-size: 20px;
}

.saved_overlay_wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.checkIcon {
  color: var(--grey);
  font-size: 4rem;
}
