@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-name-font: "Bangers", cursive;
  --app-body-font: "Poppins", sans-serif;

  /* === COLOR variables === */
  --black: #000000;
  --white: #ffffff;
  --grey: #444444;
  --rubber-red: #d03d70;
  --rubber-red-light: #ff579e;
  --rubber-red-dark: #9c0045;
  --keppel-green: rgb(50, 191, 170);
  --keppel-green-light: #6ff2dc;
  --keppel-green-dark: #008e7b;

  --homepage-gradient: linear-gradient(
    180deg,
    hsla(325, 71%, 57%, 1) 0%,
    hsla(339, 61%, 53%, 0) 100%
  );
  --searchpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--keppel-green-light)
  );
  --editpage-gradient: linear-gradient(
    180deg,
    var(--keppel-green),
    var(--white)
  );
  --addpage-gradient: linear-gradient(
    180deg,
    var(--rubber-red-light),
    var(--rubber-red-light)
  );
}

body {
  font-family: var(--app-body-font);
}

.app {
  margin: 0px auto;
}

#main-submit {
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.4rem;
  border: none;
  font-size: 1rem;
  width: 100%;
  margin: 1rem;
}

/* == MAIN == */
.main-area,
.main-area-front {
  background: var(--homepage-gradient);
  padding-top: 5.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  height: 88vh;
  width: 100vw;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.main-area-front {
  padding-top: 5.5em;
  padding-right: 7.3em;

  align-items: center;
}

h1 {
  font-family: var(--app-name-font);
  color: #6ff2dc;
  font-size: 120px;
  letter-spacing: 2px;
  font-weight: normal;
}
.main-area h1 {
  position: relative;
  left: -10%;
}
.ce {
  position: absolute;
  transform: rotate(335deg) translate(-2px, 2px);
}
.ves {
  position: absolute;
  transform: translate(-5px, 24px);
}

label {
  font-size: 18px;
  color: var(--grey);
  display: block;
  text-align: center;
}

#main-submit {
  background-color: var(--rubber-red-dark);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
  width: 7.4rem;
  height: 2.5rem;
}
#main-submit:hover {
  background-color: var(--white);
  color: var(--rubber-red-dark);
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  width: 237px;
  height: 37px;
  font: var(--app-body-font);
  font-size: 16px;
  padding: 0.8vh;
  margin: 1vh 0 1vh 0;
  border-radius: 3px;
  border: solid 0.5px var(--grey);
}

/* == SEARCH == */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
  background: var(--searchpage-gradient);
  position: relative;
  padding-bottom: 15vh;
}

.searchWrapper {
  position: sticky;
  top: 0%;
  background: var(--keppel-green-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 1vh;
  margin-bottom: 8vh;
}

.search input {
  width: 70%;
  padding: 0.8vh;
  padding-left: 3vw;
  border-radius: 20px;
  margin: 2vh;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.ListItem {
  margin: 2vh;
  border-bottom: var(--keppel-green-dark) solid 1px;
  padding-bottom: 0.5vh;
  box-shadow: var(--keppel-green) 0px 2px 0px 0px;
  border-radius: 2px;
  text-align: center;
}

.ListItem:hover {
  cursor: pointer;
  box-shadow: var(--keppel-green) 0px 6px 0px 0px;
}

/* == DANCEMOVE  == */
.DanceMove {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: var(--homepage-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;
  padding-top: 15vh;
}

.DanceMove h3,
.DanceMove p {
  margin-top: 0.5vh;
  width: 60%;
  padding: 1vh;
}

.DanceMove h3 {
  font-family: var(--app-name-font);
  color: var(--keppel-green-light);
  font-size: 2rem;
}

#notesAndIGWrapper {
  margin-top: 5vh;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-style: italic;
}

#IG {
  overflow-x: scroll;
  margin-bottom: 2vh;
  margin-top: 4vh;
  height: 70vh;
}

/* == EDIT MOVE == */
.editmove {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--keppel-green) 0%,
    var(--white) 100%
  );
}

.editmove_header {
  font-family: var(--app-name-font);
  background: var(--keppel-green-light);
  padding: 3rem 2rem 2rem 2rem;
  font-size: 3rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  color: var(--grey);
  text-align: center;
}

.editmove_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.edit_move_input {
  border-radius: 3px;
  width: 80%;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.saveChangesButton {
  background-color: var(--keppel-green-light);
  width: 150px;
  height: 3rem;
  margin: 1rem;
  border: solid 0.5px var(--grey);
  border-radius: 3px;
  font-family: var(--app-body-font);
  font-size: 16px;
  cursor: pointer;
  padding: 0.8vh;
}

/* == NEW MOVE == */

.addmove {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--rubber-red-light) 0%,
    var(--rubber-red-dark) 100%
  );
}

.addMoveHeader {
  font-family: var(--app-name-font);
  font-size: 3rem;
  letter-spacing: 1.6px;
  font-weight: normal;
  color: var(--white);
  background-color: var(--rubber-red-dark);
  text-align: center;
  padding: 3rem 2rem 2rem 2rem;
}

.addMoveForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.addMoveForm input {
  border-radius: 3px;
  width: 80%;
  font-family: var(--app-body-font);
  font-size: 16px;
}

.savebutton {
  text-transform: uppercase;
  background-color: var(--keppel-green-light);
  width: 150px;
  height: 3rem;
  margin: 1rem;
  border: solid 0.5px var(--grey);
  border-radius: 3px;
  font-family: var(--app-body-font);
  font-size: 18px;
  cursor: pointer;
  padding: 0.8vh;
}

/* == FOOTER == */

.footerwrapper {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footericon {
  color: var(--grey);
  font-size: 36px;
}

/* == MENU == */

.menu {
  background-color: #fff;
}

.menu-icon {
  position: fixed;
  top: 23px;
  left: 15px;
  z-index: 10;
}

.hide {
  display: none;
}
